@charset "utf-8";

/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(34, 53, 73);
    overflow-x: hidden;
}

/******** Website Scrollbar CSS */
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(32,50,70); 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(32,50,70);
}